<!DOCTYPE html>
<html>
<head>
	<title>Detail - Sunflowey</title>
</head>
<body>
<img src="https://opengameart.org/sites/default/files/styles/medium/public/sunflower_plant_enemy_game_character_sprites.jpg" style="width: 10vw;" />
<h1>Detail - Sunflowey</h1>
<dl>
<dt>Health Points</dt><dd>650</dd>
<dt>Base Attack Damage</dt><dd>43</dd>
<dt>Skills</dt><dd>Power Pellet, Sunshine, Pollen Punch</dd>
<dt>Lore</dt><dd>I am Sunflowey. Sometimes a sun, sometimes a flower.</dd>
</dl>
<button><a href="/heroes" id='button'>Back to Heroes List</a></button>
</body>
</html>