<!DOCTYPE html>
<html>
<head>
	<title>The Will of the Wisps Wiki</title>
</head>
<body>

<h1><a href="/hero/cloud" id="cloudName">Cloud</a></h1>
<dl>
<dt>Health Points</dt><dd id="cloudHealth">600</dd>
<dt>Base Attack Damage</dt><dd id="cloudAttack">57</dd>
</dl>


<h1><a href="/hero/jester" id="jesterName">Jester</a></h1>
<dl>
<dt>Health Points</dt><dd id="jesterHealth">660</dd>
<dt>Base Attack Damage</dt><dd id="jesterAttack">64</dd>
</dl>


<h1><a href="/hero/sunflowey" id="sunName">Sunflowey</a></h1>
<dl>
<dt>Health Points</dt><dd id="sunHealth">650</dd>
<dt>Base Attack Damage</dt><dd id="sunAttack">43</dd>
</dl>

</body>
</html>